@page "/deckbuilder"

<PageTitle>Build your deck!</PageTitle>

<h1>Build your deck!</h1>


<section class="cards .d-flex .flex-row w-100">
    <section class="w-75">
        <div>
            <div>
                <input type="text" id="card-name" placeholder="Card name" @bind="CardNameFilter"/>
                <input type="text" id="card-text" placeholder="Card text" @bind="CardTextFilter"/>
                <input type="text" id="card-type" placeholder="Card type" @bind="CardTypeFilter"/>
                <input type="text" id="card-set" placeholder="Card set" @bind="CardSetFilter"/>
                <input type="text" id="card-artist" placeholder="Card artist" @bind="CardArtistFilter"/>
                <select id="card-rarity" @bind="CardRarityFilter">
                    <option value="">Rarity filter</option>
                    <option value="U">Uncommon</option>
                    <option value="C">Common</option>
                    <option value="R">Rare</option>
                    <option value="M">Mythic</option>
                    <option value="S">Special</option>
                    <option value="B">Bonus</option>
                </select>
                <select id="card-order" @bind="CardOrderFilter">
                    <option value="asc" selected>ASC</option>
                    <option value="desc">DESC</option>
                </select>

            </div>
            <div>
                <button @onclick="ShowPreviousPage" id="prev-page">Previous page</button>
                <button @onclick="ShowNextPage"id="prev-page">Next page</button>
                <button @onclick="LoadCards">Search</button>
            </div>
        </div>
        <div>
            @if (Cards == null)
            {
                <p>Loading</p>
            }
            else
            {
                @foreach (var card in Cards)
                {
                    <img src="@card.Original_Image_Url" @onclick="() => AddCardToDeck(card)"/>
                }
            }
        </div>
    </section>
    <aside class="w-25" >
        <div>
            <button @onclick="ClearDeck">Clear deck</button>
        </div>
        <section>
            @if (Deck == default)
            {
                <p>click on a card to add it to your deck</p>
            }
            else
            {
                @foreach (var card in Deck)
                {
                    <p @onclick="() => RemoveCardFromDeck(card.Id)"> @card.Amount, @card.Name , @card.Mana_Cost </p>
                }
            }
        </section>
    </aside>
</section>